<div class="wrapper-container">
	<div class="row w-100 h-100">
		<div class="col-md-12 p-0">
			<div class="coaching">COACHING</div>
		</div>
		<div class="col-md-6 p-0">
			<table class="table">
				<thead>
					<tr>
						<th>Classes</th>
						<th>PRICE</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of [1, 2, 3, 5, 3, 5]">
						<td>5 CLASSES</td>
						<td>1,000 AED</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 p-0">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="pl-5">SELECT YOUR COACH</th>
					</tr>
				</thead>
			</table>
			<div class="row pl-5">
				<div class="col-md-4 p-0 d-flex fdc aic">
					<div class="coach-card">
						<img src="../../../../assets/app/coaches/1.jpg" class="coaches" alt="" />
						<div class="coaches-text">COACH AHMED</div>
					</div>
				</div>
				<div class="col-md-4 p-0 d-flex fdc aic">
					<div class="coach-card">
						<img src="../../../../assets/app/coaches/2.jpg" class="coaches" alt="" />
						<div class="coaches-text">COACH MINA</div>
					</div>
				</div>
				<div class="col-md-4 p-0 d-flex fdc aic">
					<div class="coach-card">
						<img src="../../../../assets/app/coaches/3.jpg" class="coaches" alt="" />
						<div class="coaches-text">COACH MOAHMMED</div>
					</div>
				</div>
				<div class="col-md-4 p-0 d-flex fdc aic">
					<div class="coach-card">
						<img src="../../../../assets/app/coaches/4.jpg" class="coaches" alt="" />
						<div class="coaches-text">COACH ALAA</div>
					</div>
				</div>
				<div class="col-md-4 p-0 d-flex fdc aic">
					<div class="coach-card">
						<img src="../../../../assets/app/coaches/5.jpg" class="coaches" alt="" />
						<div class="coaches-text">COACH MIKE</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<homeSection4></homeSection4> <WeightLiftingSection3></WeightLiftingSection3>
