<div
	class="h-screen w-screen flex aic fdc jcc b-zinc-900 px-16"
	style="background: black; margin-top: -9vh; margin-bottom: -9vh"
>
	<img src="../../../assets/not-found.svg" class="h-1/4" alt="" />

	<h1 class="text-white text-4xl md:text-8xl mb-5 mt-16 text-center">
		Oops!
	</h1>
	<p
		class="text-white text-xl md:text-2xl text-zinc-500 text-center"
		style="font-family: Montserrat; font-weight: 500"
	>
		The page you are looking for was not found.
	</p>
	<button class="btn-app-primary mt-16">Back to Home</button>
</div>
