<div class="footer d-flex aic">
	<div class="container d-flex aic">
		<img class="logo" src="../../../../assets/app/logo.svg" alt="" />
		<div class="others d-flex aic">
			<ul class="d-flex aic">
				<li>
					<a>privacy policy</a>
				</li>
				<li>
					<a>terms of use</a>
				</li>
				<li>
					<a>support</a>
				</li>
			</ul>
		</div>
		<div class="socials d-flex aic ml-auto">
			<img class="icons" src="../../../../assets/app/footer/1.svg" alt="" />
			<img class="icons" src="../../../../assets/app/footer/2.svg" alt="" />
			<img class="icons" src="../../../../assets/app/footer/3.svg" alt="" />
			<img class="icons" src="../../../../assets/app/footer/4.svg" alt="" />
			<img class="icons" src="../../../../assets/app/footer/5.svg" alt="" />
		</div>
	</div>
</div>
