<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
	<div class="my-1">
		<div
			class="w-ful aic flex text-2xl md:text-2xl font-extrabold sm: truncate"
		>
			PARTICIPANTS

			<button
				(click)="save()"
				class="fuse-mat-button-large rounded ml-auto"
				mat-flat-button
				[color]="'warn'"
				[disabled]="isProcessing"
			>
				<span *ngIf="!isProcessing" class="mr-2 flex aic">
					<mat-icon
						svgIcon="mat_solid:published_with_changes"
						class="m-0 mr-3"
					></mat-icon>
					<span class="m-auto"> Publish </span>
				</span>
				<mat-progress-spinner
					*ngIf="isProcessing"
					[diameter]="16"
					[mode]="'indeterminate'"
				></mat-progress-spinner>
			</button>
		</div>
	</div>
	<div class="inline-flex items-end justify-between w-full mb-5">
		<mat-slide-toggle
			class="example-margin"
			[(ngModel)]="data.isSectionEnabled"
			[color]="'warn'"
		>
			Enable Participants Section
		</mat-slide-toggle>
	</div>

	<div *ngIf="data.isSectionEnabled === true" @expandCollapse>
		<ul class="flex flex-wrap border-b border-gray-200 tab bg-card mt-5">
			<li [@listAnimation]="data.prices" *ngFor="let tab of navigation">
				<a
					(click)="setActiveTab(tab)"
					role="button"
					[class.active]="activeTab === tab.id"
					class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 hover:text-gray-300 dark:hover:bg-gray-800 dark:hover:text-gray-300"
					>{{ tab.name }}</a
				>
			</li>
		</ul>

		<div
			class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-5"
			@expandCollapse
			*ngIf="activeTab === 1"
		>
			<div class="">
				<div class="w-full mb-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Title</mat-label
						>
						<input
							[(ngModel)]="data.title"
							matInput
							placeholder="Weight Lifter Competitors"
						/>
					</mat-form-field>
				</div>
				<div class="w-full mb-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Body</mat-label
						>
						<textarea
							[(ngModel)]="data.body"
							cdkTextareaAutosize
							#autosize="cdkTextareaAutosize"
							cdkAutosizeMinRows="1"
							cdkAutosizeMaxRows="5"
							matInput
							placeholder="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatibus sed voluptate repellendus,"
						></textarea>
					</mat-form-field>
				</div>
			</div>
			<div class="">
				<div
					*ngIf="src === undefined && data.uri === undefined"
					(click)="trigger('file')"
					role="button"
					class="px16-9 file-input"
				>
					<svg
						viewBox="0 0 24 24"
						width="4em"
						height="4em"
						fill="gray"
						class="a8c37x1j ms05siws hwsy1cff b7h9ocf4 j58f7537 n90h9ftp rgmg9uty b73ngqbp"
					>
						<g fill-rule="evenodd" transform="translate(-444 -156)">
							<g>
								<path
									d="m96.968 22.425-.648.057a2.692 2.692 0 0 1-1.978-.625 2.69 2.69 0 0 1-.96-1.84L92.01 4.32a2.702 2.702 0 0 1 .79-2.156c.47-.472 1.111-.731 1.774-.79l2.58-.225a.498.498 0 0 1 .507.675 4.189 4.189 0 0 0-.251 1.11L96.017 18.85a4.206 4.206 0 0 0 .977 3.091s.459.364-.026.485m8.524-16.327a1.75 1.75 0 1 1-3.485.305 1.75 1.75 0 0 1 3.485-.305m5.85 3.011a.797.797 0 0 0-1.129-.093l-3.733 3.195a.545.545 0 0 0-.062.765l.837.993a.75.75 0 1 1-1.147.966l-2.502-2.981a.797.797 0 0 0-1.096-.12L99 14.5l-.5 4.25c-.06.674.326 2.19 1 2.25l11.916 1.166c.325.026 1-.039 1.25-.25.252-.21.89-.842.917-1.166l.833-8.084-3.073-3.557z"
									transform="translate(352 156.5)"
								></path>
								<path
									fill-rule="nonzero"
									d="m111.61 22.963-11.604-1.015a2.77 2.77 0 0 1-2.512-2.995L98.88 3.09A2.77 2.77 0 0 1 101.876.58l11.603 1.015a2.77 2.77 0 0 1 2.513 2.994l-1.388 15.862a2.77 2.77 0 0 1-2.994 2.513zm.13-1.494.082.004a1.27 1.27 0 0 0 1.287-1.154l1.388-15.862a1.27 1.27 0 0 0-1.148-1.37l-11.604-1.014a1.27 1.27 0 0 0-1.37 1.15l-1.387 15.86a1.27 1.27 0 0 0 1.149 1.37l11.603 1.016z"
									transform="translate(352 156.5)"
								></path>
							</g>
						</g>
					</svg>
				</div>

				<img
					(click)="trigger('file')"
					*ngIf="src !== undefined && data.uri === undefined"
					[src]="src"
					alt=""
					class="px16-9"
				/>

				<img
					(click)="trigger('file')"
					*ngIf="data.uri !== undefined"
					[src]="data.uri"
					alt=""
					class="px16-9"
				/>

				<input
					(change)="readFile($event)"
					accept="image/*"
					type="file"
					class="hidden"
					id="file"
				/>

				<fuse-alert class="mb-15" [type]="'accent'">
					<span fuseAlertTitle>Background Image Format</span>
					<div>
						<span class="text-secondary">Aspect Ratio</span> 16:9
					</div>
					<div>
						<span class="text-secondary"> Image extensions:</span>
						.jpg, .png, .gif
					</div>
					<div><span class="text-secondary">Max Images:</span> 1</div>
				</fuse-alert>
			</div>
		</div>

		<button
			(click)="addParticipant('males')"
			*ngIf="activeTab === 2"
			class="fuse-mat-button-large mt-6 rounded ml-auto"
			mat-flat-button
			[color]="'accent'"
		>
			<mat-icon svgIcon="feather:plus" class="mr-3"></mat-icon>
			<span class="m-auto"> Add Participant </span>
		</button>

		<button
			(click)="addParticipant('females')"
			*ngIf="activeTab === 3"
			class="fuse-mat-button-large mt-6 rounded"
			mat-flat-button
			[color]="'accent'"
		>
			<mat-icon svgIcon="feather:plus" class="mr-3"></mat-icon>
			<span class="m-auto"> Add Participant </span>
		</button>

		<button
			(click)="addParticipant('wildCards')"
			*ngIf="activeTab === 4"
			class="fuse-mat-button-large mt-6 rounded"
			mat-flat-button
			[color]="'accent'"
		>
			<mat-icon svgIcon="feather:plus" class="mr-3"></mat-icon>
			<span class="m-auto"> Add Participant </span>
		</button>

		<div
			class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-5 w-full"
			@expandCollapse
			*ngIf="activeTab === 2"
		>
			<div
				class="w-full"
				[@listAnimation]="data.prices"
				*ngFor="let person of data.participants['males']; let i = index"
			>
				<div
					class="card p-5 flex flex-col w-full"
					style="
						box-shadow: rgba(210, 210, 193, 0.15) 0px 30px 60px -12px,
							rgba(210, 210, 210, 0.2) 0px 18px 36px -18px;
						box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
							rgba(210, 210, 210, 0.2) 0px 30px 60px -30px;
					"
				>
					<div class="flex aic w-full">
						<div
							class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate"
						>
							<mat-icon
								svgIcon="mat_outline:directions_run"
								style="transform: translateY(3px)"
								class="text-warn mr-3"
							></mat-icon
							>PARTICIPANT {{ i + 1 }}
						</div>
						<div
							(click)="
								removePerson(
									i,
									'males',
									person.id,
									person.id !== undefined
								)
							"
							role="button"
							class="ml-auto"
						>
							<mat-icon
								svgIcon="feather:minus-circle"
								class="icon-size-7 text-warn top-icon"
							></mat-icon>
						</div>
					</div>
					<div class="card">
						<mat-form-field class="w-full mb-2">
							<mat-label class="text-secondary font-normal"
								>Name</mat-label
							>
							<input
								[(ngModel)]="person.name"
								matInput
								placeholder="John Doe"
							/>
						</mat-form-field>
						<mat-form-field class="w-full mb-2">
							<mat-label class="text-secondary font-normal"
								>Age</mat-label
							>
							<input
								[(ngModel)]="person.age"
								matInput
								placeholder="33 Yrs"
							/>
						</mat-form-field>
						<div
							(click)="trigger('fileMales' + i)"
							role="button"
							class="file-input ap9-16 w-full"
						>
							<img
								[src]="
									person.src === undefined
										? person.uri === undefined
											? '/assets/placeholder/male.jpg'
											: person.uri
										: person.src
								"
								class="ap9-16"
								style="width: 100%; height: 100%"
							/>
						</div>
						<input
							accept="image/*"
							type="file"
							class="hidden"
							(change)="readPersonFile($event, i, 'males')"
							[id]="'fileMales' + i"
						/>
						<fuse-alert class="mb-5" [type]="'accent'">
							<span fuseAlertTitle>Participant Photo Format</span>
							<div>
								<span class="text-secondary">Aspect Ratio</span>
								9:16
							</div>
							<div>
								<span class="text-secondary">
									Image extensions:</span
								>
								.jpg, .png, .gif
							</div>
							<div>
								<span class="text-secondary">Max Images:</span>
								1
							</div>
						</fuse-alert>
					</div>
				</div>
			</div>
		</div>

		<div
			class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-5 w-full"
			@expandCollapse
			*ngIf="activeTab === 3"
		>
			<div
				class="w-full"
				[@listAnimation]="data.prices"
				*ngFor="
					let person of data.participants['females'];
					let i = index
				"
			>
				<div
					class="card p-5 flex flex-col w-full"
					style="
						box-shadow: rgba(210, 210, 193, 0.15) 0px 30px 60px -12px,
							rgba(210, 210, 210, 0.2) 0px 18px 36px -18px;
						box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
							rgba(210, 210, 210, 0.2) 0px 30px 60px -30px;
					"
				>
					<div class="flex aic w-full">
						<div
							class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate"
						>
							<mat-icon
								svgIcon="mat_outline:directions_run"
								style="transform: translateY(3px)"
								class="text-warn mr-3"
							></mat-icon
							>PARTICIPANT {{ i + 1 }}
						</div>
						<div
							(click)="
								removePerson(
									i,
									'females',
									person.id,
									person.id !== undefined
								)
							"
							role="button"
							class="ml-auto"
						>
							<mat-icon
								svgIcon="feather:minus-circle"
								class="icon-size-7 text-warn top-icon"
							></mat-icon>
						</div>
					</div>
					<div class="card">
						<mat-form-field class="w-full mb-2">
							<mat-label class="text-secondary font-normal"
								>Name</mat-label
							>
							<input
								[(ngModel)]="person.name"
								matInput
								placeholder="Jane Doe"
							/>
						</mat-form-field>
						<mat-form-field class="w-full mb-2">
							<mat-label class="text-secondary font-normal"
								>Age</mat-label
							>
							<input
								[(ngModel)]="person.age"
								matInput
								placeholder="33 Yrs"
							/>
						</mat-form-field>
						<div
							(click)="trigger('fileFemales' + i)"
							role="button"
							class="file-input ap9-16 w-full"
						>
							<img
								[src]="
									person.src === undefined
										? person.uri === undefined
											? '/assets/placeholder/female.jpg'
											: person.uri
										: person.src
								"
								class="ap9-16"
								style="width: 100%; height: 100%"
							/>
						</div>
						<input
							accept="image/*"
							type="file"
							class="hidden"
							(change)="readPersonFile($event, i, 'females')"
							[id]="'fileFemales' + i"
						/>
						<fuse-alert class="mb-5" [type]="'accent'">
							<span fuseAlertTitle>Participant Photo Format</span>
							<div>
								<span class="text-secondary">Aspect Ratio</span>
								9:16
							</div>
							<div>
								<span class="text-secondary">
									Image extensions:</span
								>
								.jpg, .png, .gif
							</div>
							<div>
								<span class="text-secondary">Max Images:</span>
								1
							</div>
						</fuse-alert>
					</div>
				</div>
			</div>
		</div>

		<div
			class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-5 w-full"
			@expandCollapse
			*ngIf="activeTab === 4"
		>
			<div
				class="w-full"
				[@listAnimation]="data.prices"
				*ngFor="
					let person of data.participants['wildCards'];
					let i = index
				"
			>
				<div
					class="card p-5 flex flex-col w-full"
					style="
						box-shadow: rgba(210, 210, 193, 0.15) 0px 30px 60px -12px,
							rgba(210, 210, 210, 0.2) 0px 18px 36px -18px;
						box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
							rgba(210, 210, 210, 0.2) 0px 30px 60px -30px;
					"
				>
					<div class="flex aic w-full">
						<div
							class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate"
						>
							<mat-icon
								svgIcon="mat_outline:directions_run"
								style="transform: translateY(3px)"
								class="text-warn mr-3"
							></mat-icon
							>PARTICIPANT {{ i + 1 }}
						</div>
						<div
							(click)="
								removePerson(
									i,
									'wildCards',
									person.id,
									person.id !== undefined
								)
							"
							role="button"
							class="ml-auto"
						>
							<mat-icon
								svgIcon="feather:minus-circle"
								class="icon-size-7 text-warn top-icon"
							></mat-icon>
						</div>
					</div>
					<div class="card">
						<mat-form-field class="w-full mb-2">
							<mat-label class="text-secondary font-normal"
								>Name</mat-label
							>
							<input
								[(ngModel)]="person.name"
								matInput
								placeholder="Raul"
							/>
						</mat-form-field>
						<mat-form-field class="w-full mb-2">
							<mat-label class="text-secondary font-normal"
								>Age</mat-label
							>
							<input
								[(ngModel)]="person.age"
								matInput
								placeholder="33 Yrs"
							/>
						</mat-form-field>
						<div
							(click)="trigger('fileWildCards' + i)"
							role="button"
							class="file-input ap9-16 w-full"
						>
							<img
								[src]="
									person.src === undefined
										? person.uri === undefined
											? '/assets/placeholder/wildcard.jpg'
											: person.uri
										: person.src
								"
								class="ap9-16"
								style="width: 100%; height: 100%"
							/>
						</div>
						<input
							accept="image/*"
							type="file"
							class="hidden"
							(change)="readPersonFile($event, i, 'wildCards')"
							[id]="'fileWildCards' + i"
						/>
						<fuse-alert class="mb-5" [type]="'accent'">
							<span fuseAlertTitle>Participant Photo Format</span>
							<div>
								<span class="text-secondary">Aspect Ratio</span>
								9:16
							</div>
							<div>
								<span class="text-secondary">
									Image extensions:</span
								>
								.jpg, .png, .gif
							</div>
							<div>
								<span class="text-secondary">Max Images:</span>
								1
							</div>
						</fuse-alert>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
