<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0 custom">
	<div class="my-1">
		<div class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate">
			Participants
		</div>
	</div>
	<div class="inline-flex items-end justify-between w-full mb-5">
		<mat-checkbox [color]="'warn'" class="text-secondary font-normal">
			Enable Participants Section
		</mat-checkbox>
	</div>

	<div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mt-5">
		<div class="">
			<div class="w-full mb-2">
				<mat-form-field class="w-full">
					<mat-label class="text-secondary font-normal"
						>Button Text</mat-label
					>
					<input matInput placeholder="Weight Lifter Competitors" />
				</mat-form-field>
			</div>
			<div class="w-full mb-2">
				<mat-form-field class="w-full">
					<mat-label class="text-secondary font-normal"
						>Button Color (Hex)</mat-label
					>
					<textarea
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="1"
						cdkAutosizeMaxRows="5"
						matInput
						placeholder="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatibus sed voluptate repellendus,"
					></textarea>
				</mat-form-field>
			</div>
		</div>
		<div class="lg:ml-5 md:ml-5">
			<div
				(click)="trigger('file')"
				role="button"
				class="file-input w-full"
			>
				<img src="/assets/app/cloud.svg" />
			</div>
			<input accept="image/*" type="file" class="hidden" id="file" />
			<fuse-alert class="mb-5" [type]="'info'">
				<span fuseAlertTitle>Image Format</span>
				<div>
					<span class="text-secondary">Aspect Ration</span> 16:9
				</div>
				<div>
					<span class="text-secondary"> Image extensions:</span> .jpg,
					.png, .gif
				</div>
				<div><span class="text-secondary">Max Images:</span> 1</div>
			</fuse-alert>
		</div>
	</div>

	<div class="flex">
		<button
			class="fuse-mat-button-large mt-6 rounded ml-auto"
			mat-flat-button
			[color]="'accent'"
		>
			<span class="mr-2"> Add Participants</span>
		</button>
	</div>

	<div class="flex flex-wrap">
		<div
			class="p-5 pl-0 sm:w-full md:w-1/2 lg:w-1/4 xl:w-1/8"
			*ngFor="let item of [1, 1, 1, 1, 1, 1, 1]"
		>
			<div class="card border-2 border-slate-100 p-5">
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Name</mat-label
					>
					<input matInput placeholder="AHMED KHUMAR" />
				</mat-form-field>
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Age</mat-label
					>
					<input matInput placeholder="33 Yrs" />
				</mat-form-field>
				<div
					(click)="trigger('file')"
					role="button"
					class="file-input w-full"
				>
					<img src="/assets/app/cloud.svg" />
				</div>
				<input accept="image/*" type="file" class="hidden" id="file" />
				<fuse-alert class="mb-5" [type]="'info'">
					<span fuseAlertTitle>Image Format</span>
					<div>
						<span class="text-secondary">Aspect Ration</span> 16:9
					</div>
					<div>
						<span class="text-secondary"> Image extensions:</span>
						.jpg, .png, .gif
					</div>
					<div><span class="text-secondary">Max Images:</span> 1</div>
				</fuse-alert>
			</div>
		</div>
	</div>

	<button
		class="fuse-mat-button-large mt-6 rounded"
		mat-flat-button
		[color]="'warn'"
	>
		<span class="mr-2"> Publish</span>
		<mat-progress-spinner
			[diameter]="16"
			[mode]="'indeterminate'"
		></mat-progress-spinner>
	</button>
</div>
