<div class="navbar px-15 py-2.5 h-20 md:h-auto">
	<div class="wrapper-container w-full flex aic jcc">
		<i
			class="bi bi-list text-white mr-auto text-4xl block absolute left-2 mt-10 md:hidden m-0"
		></i>
		<img
			class="logo mr-auto absolute right-4 mt-10 md:relative m-0"
			src="../../../../assets/app/logo.svg"
			alt=""
		/>

		<div class="ml-auto aic hidden w-full md:flex md:w-auto">
			<ul class="flex aic">
				<li>
					<a routerLink="/">home</a>
				</li>
				<li>
					<a routerLink="/competition">Competition</a>
				</li>
				<li>
					<a routerLink="/location">location</a>
				</li>
				<li>
					<a routerLink="/coaching">coaching</a>
				</li>
				<li>
					<a routerLink="/our-story">our story</a>
				</li>
				<li routerLink="/competition" class="join-now">
					<button class="btn-app-primary">
						join now <i class="bi bi-arrow-right"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
