.navbar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.82);
	padding: 1.5rem 20vmin;
	position: sticky;
	backdrop-filter: blur(18px);
	border-radius: 0;
	z-index: 1239;
	top: 0;
	.logo {
		height: 40.26px;
		margin-top: -5px;
	}
}
.active {
	background-color: #373737 !important;
	color: black !important;
	padding: 0.5rem 2rem;
	border-radius: 9999px;
}

li {
	list-style: none;
	margin-right: 2.3rem;
	a {
		color: white;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			color: var(--accent);
		}
	}
	transition: transform 0.3s ease-out;
}

.join-now {
	margin-left: 3rem;
}
