<app-preloader *ngIf="!data"></app-preloader>
<div class="h-auto relative c-section" *ngIf="data">
	<div class="bg relative h-screen bg-zinc-900">
		<img
			[src]="data.uri"
			alt=""
			class="px16-9 absolute h-screen object-cover w-ful"
		/>
		<div class="overlay h-screen absolute w-ful"></div>
	</div>
	<div
		class="wrapper text-center flex items-center justify-center fdc md:mt-19 h-screen w-full"
		*ngIf="data"
	>
		<div
			appParallax
			[factor]="-4.5"
			class="title w-full p-0 text-4xl md:text-9xl pl-5 pr-5"
			*ngIf="data.isTextsEnabled"
		>
			{{ data.title }}
		</div>
		<div
			class="body text-gray-400 w-full p-0 text-xl md:text-3xl pl-5 pr-5 mt-3"
			*ngIf="data.isTextsEnabled"
		>
			{{ data.body }}
		</div>

		<div class="px-3">
			<button
				*ngIf="data.isButtonEnabled"
				routerLink="/competition"
				class="btn btn-app-primary flex text-1xl py-5 mx-0 md:mx-auto mt-32 lg:mx-auto xl:mx-auto"
				[style.background]="data.buttonColor + ' !important'"
			>
				{{ data.buttonText }}
				<i class="bi bi-arrow-right ml-4 hidden md:block"></i>
			</button>
		</div>
	</div>
</div>
