<div class="h-screen relative">
	<div class="bg relative" *ngIf="data">
		<div class="overlay sm:h-screen"></div>
		<img [src]="data.uri" alt="" class="px16-9 sm:h-screen" />
	</div>
	<div
		class="wrapper aic justify-center fdc md:justify-center sm:mt-19 h-screen w-max"
		*ngIf="data"
	>
		<div
			class="title animate__animated animate__fast animate__slideInDown p-0 text-6xl md:text-9xl pl-5 pr-5"
			*ngIf="data.isTextsEnabled"
		>
			{{ data.title }}
		</div>
		<div
			class="body animate__animated animate__fadeInDown animate__fast p-0 text-2xl md:text-4xl pl-5 pr-5 mt-3"
			*ngIf="data.isTextsEnabled"
		>
			{{ data.body }}
		</div>
		<button
			*ngIf="data.isButtonEnabled"
			routerLink="/competition"
			class="btn btn-app-primary pr-5 pl-5 ml-auto mr-auto mt-20 md:mt-40 ml-0"
			[style.background]="data.buttonColor + ' !important'"
		>
			{{ data.buttonText }} <i class="bi bi-arrow-right"></i>
		</button>
	</div>
</div>
