.bg {
	width: 100%;
	height: 100vh;
	img {
		width: 100%;
		object-fit: cover;
		margin-top: -9vh;
		height: 120vh;
	}
	position: absolute;
	z-index: -1;
}
.wrapper {
	width: 100vw;
	height: 110vh;
	display: flex;
	.btn {
		position: relative;
		z-index: 2;
		margin: auto;
		padding: 1rem 2rem;
		transform: translateY(calc(5rem * 3));
	}
}

.section {
	scroll-snap-align: start;
	overflow: hidden;
	position: relative;
}
