.title {
	text-align: left;
	letter-spacing: 1.75px;
	text-transform: uppercase;
}

.description {
	font-family: Montserrat;
	letter-spacing: 1.25px;
	line-height: 1.8em;
	max-width: 655px;
	font-weight: 400;
}

.button {
	color: #d10000;
	cursor: pointer;
	font-family: Montserrat;
	font-weight: 400;
	.bi {
		transition: 0.3s ease;
	}
	&:hover {
		.bi {
			padding-left: 0.5rem;
		}
	}
}

.scale {
	transform: scale(0.5);
	transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scaleNow {
	transform: scale3d(1, 1, 1);
}
