<div class="h-100" *ngIf="data">
	<div class="row h-100">
		<div class="col-md-8 h-100 hidden md:block">
			<div class="wrapper d-flex aic jcc h-100 pt-5">
				<img
					class="current square animate__animated animate__fast animate__zoomIn h-full"
					[src]="data.uri"
					alt=""
				/>
				<img
					class="next square animate__animated animate__fast animate__zoomIn h-full hidden md:block"
					src="../../../../assets/app/home/2.png"
					alt=""
				/>
			</div>
		</div>
		<div
			class="col-md-3 d-flex jcc fdc pl-5 md:pl-0 pt-0 h-full mt-24 md:mt-24 h-full pt-24"
		>
			<div class="title animate__animated animate__fast animate__slideInDown">
				{{ data.title }}
			</div>
			<div
				class="description animate__animated animate__fast animate__slideInDown"
			>
				{{ data.body }}
			</div>

			<a routerLink="/our-story" class="button">
				FIND OUT MORE <i class="bi bi-arrow-right"></i>
			</a>
		</div>
		<div class="col-md-8 h-100 block md:hidden">
			<div class="wrapper d-flex aic jcc h-100 pt-5">
				<img
					class="current square animate__animated animate__fast animate__zoomIn h-1/2"
					[src]="data.uri"
					alt=""
				/>
				<img
					class="next square animate__animated animate__fast animate__zoomIn h-1/2 hidden md:block"
					src="../../../../assets/app/home/2.png"
					alt=""
				/>
			</div>
		</div>
	</div>
</div>
