.title {
	text-align: left;
	letter-spacing: 1.75px;
	text-transform: uppercase;
}

.description {
	font-family: Montserrat;
	letter-spacing: 1.25px;
	line-height: 1.8em;
	max-width: 655px;
	font-weight: 400;
}

.button {
	color: #d10000;
	cursor: pointer;
	font-family: Montserrat;
	font-weight: 400;
	.bi {
		transition: 0.3s ease;
	}
	&:hover {
		.bi {
			padding-left: 0.5rem;
		}
	}
}

.wrapper {
	position: relative;

	img {
		width: 100%;
		object-fit: contain;
		position: absolute;
		cursor: pointer;
	}
}
