.description {
	letter-spacing: 0.9px;
	color: #575756;
	font-size: 1.2rem;
	font-family: Montserrat;
	font-weight: 400;
	margin-top: 47px;
	margin-bottom: 78px;
	text-align: center;
}
.name {
	font-size: 1.5rem;
	text-align: center;
}

.wrapper {
	background: #f0f0f0;
	padding: 2rem;
	padding-bottom: 4rem;
	transition: 0.3s ease;
	min-height: 400px;
}

.bi {
	font-size: 2rem;
	margin-right: 10px;
	color: gray;
}

.active {
	color: #ffbb0b;
}
