<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
	<div class="my-1 mb-5">
		<div class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate">
			BANNER
		</div>
	</div>
	<div class="inline-flex items-end justify-between w-full mb-5">
		<mat-checkbox
			[(ngModel)]="data.isSectionEnabled"
			[color]="'warn'"
			class="text-secondary font-normal"
		>
			Show Competition Background Banner
		</mat-checkbox>
	</div>
	<div
		class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-5"
		*ngIf="data.isSectionEnabled"
		@expandCollapse
	>
		<div class="">
			<div
				*ngIf="src === undefined && data.uri === undefined"
				(click)="trigger('file')"
				role="button"
				class="px16-9 file-input"
			>
				<img src="/assets/app/cloud.svg" />
			</div>

			<img
				(click)="trigger('file')"
				*ngIf="src !== undefined && data.uri === undefined"
				[src]="src"
				alt=""
				class="px16-9"
			/>

			<img
				(click)="trigger('file')"
				*ngIf="data.uri !== undefined"
				[src]="data.uri"
				alt=""
				class="px16-9"
			/>

			<input
				(change)="readFile($event)"
				accept="image/*"
				type="file"
				class="hidden"
				id="file"
			/>

			<fuse-alert class="mb-15" [type]="'accent'">
				<div><span class="text-secondary">Aspect Ratio</span> 16:9</div>
				<div>
					<span class="text-secondary"> Image extensions:</span> .jpg,
					.png, .gif
				</div>
				<div><span class="text-secondary">Max Images:</span> 1</div>
			</fuse-alert>
		</div>
		<div class="lg:ml-5 md:ml-5">
			<div class="flex flex-wrap">
				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Competition Date</mat-label
						>
						<input
							[(ngModel)]="data.competitionDate"
							matInput
							placeholder="Sunday | 7th April"
						/>
					</mat-form-field>
				</div>

				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Category</mat-label
						>
						<input
							[(ngModel)]="data.categoryType"
							matInput
							placeholder="Open weightlifting"
						/>
					</mat-form-field>
				</div>
				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Category Type</mat-label
						>
						<input matInput placeholder="categoryType" />
					</mat-form-field>
				</div>
				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Hosted by</mat-label
						>
						<input
							[(ngModel)]="data.hostedBy"
							matInput
							placeholder="Hosted by The Dungeon gym"
						/>
					</mat-form-field>
				</div>
				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Levels</mat-label
						>
						<input
							[(ngModel)]="data.levels"
							matInput
							placeholder="open to all level"
						/>
					</mat-form-field>
				</div>
				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Deadline</mat-label
						>
						<input
							[(ngModel)]="data.deadline"
							matInput
							placeholder="Deadline of Entries Friday 5pm"
						/>
					</mat-form-field>
				</div>

				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label class="text-secondary font-normal"
							>Date</mat-label
						>
						<input [(ngModel)]="data.date" matInput type="date" />
					</mat-form-field>
				</div>

				<div class="w-1/2 mb-2 p-2">
					<mat-form-field class="w-full">
						<mat-label
							[(ngModel)]="data.time"
							class="text-secondary font-normal"
							>Time</mat-label
						>
						<input matInput type="time" />
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>

	<button
		(click)="save()"
		class="fuse-mat-button-large mt-6 rounded"
		mat-flat-button
		[color]="'warn'"
		[disabled]="isProcessing"
	>
		<span *ngIf="!isProcessing" class="mr-2"> Publish</span>
		<mat-progress-spinner
			*ngIf="isProcessing"
			[diameter]="16"
			[mode]="'indeterminate'"
		></mat-progress-spinner>
	</button>
</div>
