.container {
	height: 100vh;
	position: relative;
}

img {
	position: absolute;
	width: 100%;
	object-fit: contain;
	z-index: -1;
}

.title {
	font: normal normal normal 61px/67px bold;
	letter-spacing: 3.05px;
	color: #ffffff;
}

.alert {
	font: normal normal bold 20px/40px Montserrat;
	letter-spacing: 1px;
	color: #d10000;
}

.description {
	letter-spacing: 0.9px;
	font-family: 'Montserrat';
	color: #ffffff;
	font-weight: 500;
	font-size: 1.15rem;
	text-align: center;
}
