<div
	class="footer flex aic flex-col md:flex-row px-5 py-5 md:px-8 md:py-8 c-section"
	*ngIf="data && data.isSectionEnabled"
>
	<div class="flex flex-col w-full items-start md:flex-row md:items-center">
		<img class="logo" src="../../../../assets/app/logo.svg" alt="" />

		<ul class="others flex m-0 flex-col mt-5 md:flex-row md:ml-5 md:mt-0">
			<li>
				<a>privacy policy</a>
			</li>
			<li>
				<a>terms of use</a>
			</li>
			<li>
				<a>support</a>
			</li>
		</ul>

		<div
			class="socials md:ml-auto mt-5 md:mt-0 flex md:aic flex-row"
			*ngIf="user"
		>
			<a target="_blank" [href]="'https://wa.me/' + user.whatsApp">
				<i class="bi bi-whatsapp text-white text-2xl mr-2"></i>
			</a>
			<a target="_blank" [href]="user.facebook">
				<i class="bi bi-facebook text-white text-2xl mr-2"></i>
			</a>
			<a target="_blank" [href]="user.instagram">
				<i class="bi bi-instagram text-white text-2xl mr-2"></i>
			</a>
			<a target="_blank" [href]="user.twitter">
				<i class="bi bi-twitter text-white text-2xl mr-2"></i>
			</a>
			<a target="_blank" [href]="user.youtube">
				<i class="bi bi-youtube text-white text-2xl mr-2"></i>
			</a>
		</div>
	</div>
</div>
