.footer {
	background-color: #1d1d1b;
}

.others {
	* {
		font-family: Montserrat;
		color: #ffffff;
	}
	li {
		list-style: none;
		margin-right: 2.3rem;
		text-transform: uppercase;
		a {
			color: white;
			cursor: pointer;
			text-decoration: none;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.socials {
	img {
		cursor: pointer;
		margin-right: 1rem;
		object-fit: contain;
		width: 1.3rem;
		position: relative;
		transition: 0.3s ease;
		&:hover {
			transform: scale(1.1);
			opacity: 0.5;
		}
	}
}
