<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
	<div class="my-1 mb-5">
		<div class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate">
			SLIDING IMAGES
		</div>
		<fuse-alert class="mb-15" [type]="'info'">
			<span fuseAlertTitle>Image Format</span>
			<div><span class="text-secondary">Aspect Ratio:</span>3:4</div>
			<div>
				<span class="text-secondary"> Image extensions:</span> .jpg,
				.png, .gif
			</div>
			<div><span class="text-secondary">Max Images:</span> 25</div>
		</fuse-alert>
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-5">
		<div>
			<div
				(click)="trigger('file')"
				role="button"
				class="file-input w-full"
			>
				<img src="/assets/app/cloud.svg" />
			</div>
			<input
				accept="image/*"
				multiple
				type="file"
				class="hidden"
				id="file"
			/>
			<div class="text-secondary text-center w-full">
				Images for Slider (Select Multiple)
			</div>
		</div>
		<div class="lg:ml-5 md:ml-5">
			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Title</mat-label>
				<input matInput placeholder="BODYBUILDING + POWER LIFTING" />
			</mat-form-field>
			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Body</mat-label>
				<textarea
					cdkTextareaAutosize
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					cdkAutosizeMaxRows="5"
					matInput
					placeholder="Top of the line equipment’s that are only available in this gym. We have the Best trainer in this field."
				></textarea>
			</mat-form-field>
		</div>
	</div>
	<button
		class="fuse-mat-button-large mt-6 rounded"
		mat-flat-button
		[color]="'warn'"
	>
		<span class="mr-2"> Publish</span>
		<mat-progress-spinner
			[diameter]="16"
			[mode]="'indeterminate'"
		></mat-progress-spinner>
	</button>
</div>
