.navbar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 1.5rem;
	position: fixed;
	.logo {
		height: 40.26px;
	}
}

li {
	list-style: none;
	margin-right: 2.3rem;
	transform: translateY(0.8rem);
	a {
		color: white;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			color: var(--accent);
		}
	}
}

.join-now {
	margin-left: 3rem;
}
