<div class="navbar">
	<div class="container d-flex aic">
		<img class="logo" src="../../../../assets/app/logo.svg" alt="" />

		<div class="ml-auto d-flex">
			<ul class="d-flex aic">
				<li>
					<a routerLink="/">home</a>
				</li>
				<li>
					<a routerLink="/weight-lifting">weight lifting</a>
				</li>
				<li>
					<a routerLink="/location">location</a>
				</li>
				<li>
					<a routerLink="/coaching">coaching</a>
				</li>
				<li>
					<a routerLink="/our-story">our story</a>
				</li>
				<li class="join-now">
					<button class="btn-app-primary">
						join now <i class="bi bi-arrow-right"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
