<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
	<div class="my-1">
		<div
			class="w-ful border-b border-gray-200 aic flex text-2xl md:text-2xl font-extrabold sm: truncate"
		>
			COACHES

			<button
				(click)="save()"
				class="fuse-mat-button-large rounded ml-auto"
				mat-flat-button
				[color]="'warn'"
				[disabled]="isProcessing"
			>
				<span *ngIf="!isProcessing" class="mr-2 flex aic">
					<mat-icon
						svgIcon="mat_solid:published_with_changes"
						class="m-0 mr-3"
					></mat-icon>
					<span class="m-auto"> Publish </span>
				</span>
				<mat-progress-spinner
					*ngIf="isProcessing"
					[diameter]="16"
					[mode]="'indeterminate'"
				></mat-progress-spinner>
			</button>
		</div>
		<ul class="flex flex-wrap border-b border-gray-200 tab bg-card">
			<li
				[@listAnimation]="navigation.length"
				*ngFor="let tab of navigation"
			>
				<a
					(click)="setActiveTab(tab)"
					role="button"
					[class.active]="activeTab === tab.id"
					class="inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 hover:text-gray-300 dark:hover:bg-gray-800 dark:hover:text-gray-300"
					>{{ tab.name }}</a
				>
			</li>
		</ul>
		<fuse-alert class="" [type]="'warning'">
			<span fuseAlertTitle>Important</span>
			<div>
				When changing the photo of a coach, please delete the coach and
				add a new one with the same name.
			</div>
		</fuse-alert>

		<div class="flex">
			<button
				(click)="addCoach('males')"
				*ngIf="activeTab === 1"
				class="fuse-mat-button-large ml-auto mt-5 bg-zinc-400 text-white"
				mat-flat-button
			>
				<mat-icon svgIcon="feather:plus" class="mr-3"></mat-icon>
				<span class="m-auto"> Add Male Coach </span>
			</button>

			<button
				(click)="addCoach('females')"
				*ngIf="activeTab === 2"
				class="fuse-mat-button-large ml-auto mt-5 bg-zinc-400 text-white"
				mat-flat-button
			>
				<mat-icon svgIcon="feather:plus" class="mr-3"></mat-icon>
				<span class="m-auto"> Add Female Coach </span>
			</button>
		</div>

		<div class="flex flex-wrap">
			<div
				class="grid grid-cols-1 lg:grid-cols-4 gap-4 mt-5 w-full"
				@expandCollapse
				*ngIf="activeTab === 1"
			>
				<div
					class="w-full"
					[@listAnimation]="data['males'].length"
					*ngFor="let person of data['males']; let i = index"
					[class.unclickable]="person.id !== undefined"
				>
					<div
						class="card p-5 flex flex-col w-full"
						style="
							box-shadow: rgba(210, 210, 193, 0.15) 0px 30px 60px -12px,
								rgba(210, 210, 210, 0.2) 0px 18px 36px -18px;
							box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
								rgba(210, 210, 210, 0.2) 0px 30px 60px -30px;
						"
					>
						<div class="flex aic w-full">
							<div
								class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate"
							>
								<mat-icon
									svgIcon="feather:shield"
									style="transform: translateY(3px)"
									class="text-warn mr-3"
								></mat-icon
								>COACH {{ i + 1 }}
							</div>
							<div
								(click)="
									removePerson(
										i,
										'males',
										person.id,
										person.id !== undefined
									)
								"
								role="button"
								class="ml-auto"
							>
								<mat-icon
									svgIcon="feather:minus-circle"
									class="icon-size-7 text-warn top-icon"
								></mat-icon>
							</div>
						</div>
						<div class="card w-full">
							<mat-form-field class="w-full mb-2">
								<mat-label class="text-secondary font-normal"
									>Name</mat-label
								>
								<input
									[(ngModel)]="person.name"
									matInput
									placeholder="John Doe"
								/>
							</mat-form-field>
							<mat-form-field class="w-full mb-2">
								<mat-label class="text-secondary font-normal"
									>Experience</mat-label
								>
								<input
									[(ngModel)]="person.experience"
									matInput
									placeholder="33 Yrs"
								/>
							</mat-form-field>
							<div
								(click)="trigger('fileMales' + i)"
								role="button"
								class="file-input ap5-6 w-full"
							>
								<img
									[src]="
										person.src === undefined
											? person.uri === undefined
												? '/assets/placeholder/male.jpg'
												: person.uri
											: person.src
									"
									class="ap5-6"
									style="width: 100%; height: 100%"
								/>
							</div>
							<input
								accept="image/*"
								type="file"
								class="hidden"
								(change)="readPersonFile($event, i, 'males')"
								[id]="'fileMales' + i"
							/>
							<fuse-alert class="mb-5" [type]="'accent'">
								<span fuseAlertTitle>COACH Photo Format</span>
								<div>
									<span class="text-secondary"
										>Aspect Ratio</span
									>
									9:16
								</div>
								<div>
									<span class="text-secondary">
										Image extensions:</span
									>
									.jpg, .png, .gif
								</div>
								<div>
									<span class="text-secondary"
										>Max Images:</span
									>
									1
								</div>
							</fuse-alert>
						</div>
					</div>
				</div>
			</div>

			<div
				class="grid grid-cols-1 lg:grid-cols-4 gap-4 mt-5 w-full"
				@expandCollapse
				*ngIf="activeTab === 2"
			>
				<div
					class="w-full"
					[@listAnimation]="data['females'].length"
					*ngFor="let person of data['females']; let i = index"
					[class.unclickable]="person.id !== undefined"
				>
					<div
						class="card p-5 flex flex-col w-full"
						style="
							box-shadow: rgba(210, 210, 193, 0.15) 0px 30px 60px -12px,
								rgba(210, 210, 210, 0.2) 0px 18px 36px -18px;
							box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
								rgba(210, 210, 210, 0.2) 0px 30px 60px -30px;
						"
					>
						<div class="flex aic w-full">
							<div
								class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate"
							>
								<mat-icon
									svgIcon="feather:shield"
									style="transform: translateY(3px)"
									class="text-warn mr-3"
								></mat-icon
								>COACH {{ i + 1 }}
							</div>
							<div
								(click)="
									removePerson(
										i,
										'females',
										person.id,
										person.id !== undefined
									)
								"
								role="button"
								class="ml-auto"
							>
								<mat-icon
									svgIcon="feather:minus-circle"
									class="icon-size-7 text-warn top-icon"
								></mat-icon>
							</div>
						</div>
						<div class="card w-full">
							<mat-form-field class="w-full mb-2">
								<mat-label class="text-secondary font-normal"
									>Name</mat-label
								>
								<input
									[(ngModel)]="person.name"
									matInput
									placeholder="Jane Doe"
								/>
							</mat-form-field>
							<mat-form-field class="w-full mb-2">
								<mat-label class="text-secondary font-normal"
									>Experience</mat-label
								>
								<input
									[(ngModel)]="person.experience"
									matInput
									placeholder="33 Yrs"
								/>
							</mat-form-field>
							<div
								(click)="trigger('fileFemales' + i)"
								role="button"
								class="file-input ap5-6 w-full"
							>
								<img
									[src]="
										person.src === undefined
											? person.uri === undefined
												? '/assets/placeholder/female.jpg'
												: person.uri
											: person.src
									"
									class="ap5-6"
									style="width: 100%; height: 100%"
								/>
							</div>
							<input
								accept="image/*"
								type="file"
								class="hidden"
								(change)="readPersonFile($event, i, 'females')"
								[id]="'fileFemales' + i"
							/>
							<fuse-alert class="mb-5" [type]="'accent'">
								<span fuseAlertTitle>COACH Photo Format</span>
								<div>
									<span class="text-secondary"
										>Aspect Ratio</span
									>
									9:16
								</div>
								<div>
									<span class="text-secondary">
										Image extensions:</span
									>
									.jpg, .png, .gif
								</div>
								<div>
									<span class="text-secondary"
										>Max Images:</span
									>
									1
								</div>
							</fuse-alert>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
