<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
	<div class="my-1 mb-5">
		<div class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate">
			PRICING SECTION
		</div>
		<fuse-alert class="mb-15" [type]="'info'">
			<span fuseAlertTitle>Image Format</span>
			<div><span class="text-secondary">Aspect Ratio:</span>16:9</div>
			<div>
				<span class="text-secondary"> Image extensions:</span> .jpg,
				.png, .gif
			</div>
			<div><span class="text-secondary">Max Images:</span> 1</div>
		</fuse-alert>
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-5">
		<div>
			<div
				(click)="trigger('file')"
				role="button"
				class="file-input w-full"
			>
				<img src="/assets/app/cloud.svg" />
			</div>
			<input accept="image/*" type="file" class="hidden" id="file" />
			<div class="text-secondary text-center w-full">
				Background Image
			</div>
		</div>
		<div class="lg:ml-5 md:ml-5">
			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Title</mat-label>
				<input matInput placeholder="START YOUR FREE TRIAL TODAY" />
			</mat-form-field>
			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Notice</mat-label>
				<input
					matInput
					placeholder="Payments start after 30 days free trial."
				/>
			</mat-form-field>
			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Body</mat-label>
				<textarea
					cdkTextareaAutosize
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					cdkAutosizeMaxRows="5"
					matInput
					placeholder="Subscriptions auto-renew at the end of each billing period at the standard price, unless cancelled."
				></textarea>
			</mat-form-field>
		</div>
	</div>

	<div class="flex">
		<button
			class="fuse-mat-button-large mt-6 rounded ml-auto"
			mat-flat-button
			[color]="'accent'"
		>
			<span class="mr-2"> Add Pricing</span>
		</button>
	</div>

	<div class="flex flex-wrap">
		<div
			class="p-5 pl-0 sm:w-full md:w-1/2 lg:w-1/4 xl:w-1/8"
			*ngFor="let item of [1, 1, 1, 1, 1, 1, 1]"
		>
			<div class="card border-2 border-slate-100 p-5">
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Duration</mat-label
					>
					<input matInput placeholder="1 MONTH" />
				</mat-form-field>
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Price</mat-label
					>
					<input matInput placeholder="650" />
				</mat-form-field>
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Bill Interval</mat-label
					>
					<input matInput placeholder="Billed Monthly" />
				</mat-form-field>
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Summary</mat-label
					>
					<input matInput placeholder="650.00 AED Monthly" />
				</mat-form-field>
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Trial Period</mat-label
					>
					<input matInput placeholder="630-Day Free Trial" />
				</mat-form-field>
				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Background Color (Hex)</mat-label
					>
					<input matInput placeholder="#828385" />
				</mat-form-field>
			</div>
		</div>
	</div>

	<button
		class="fuse-mat-button-large mt-6 rounded"
		mat-flat-button
		[color]="'warn'"
	>
		<span class="mr-2"> Publish</span>
		<mat-progress-spinner
			[diameter]="16"
			[mode]="'indeterminate'"
		></mat-progress-spinner>
	</button>
</div>
