<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
	<div class="my-1 mb-5">
		<div
			class="w-ful aic flex text-2xl md:text-2xl font-extrabold sm: truncate"
		>
			PRICING SECTION

			<button
				(click)="save()"
				class="fuse-mat-button-large rounded ml-auto"
				mat-flat-button
				[color]="'warn'"
				[disabled]="isProcessing"
			>
				<span *ngIf="!isProcessing" class="mr-2 flex aic">
					<mat-icon
						svgIcon="mat_solid:published_with_changes"
						class="m-0 mr-3"
					></mat-icon>
					<span class="m-auto"> Publish </span>
				</span>
				<mat-progress-spinner
					*ngIf="isProcessing"
					[diameter]="16"
					[mode]="'indeterminate'"
				></mat-progress-spinner>
			</button>
		</div>
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-5">
		<div>
			<div
				*ngIf="src === undefined && data.uri === undefined"
				(click)="trigger('file')"
				role="button"
				class="px16-9 file-input"
			>
				<svg
					viewBox="0 0 24 24"
					width="4em"
					height="4em"
					fill="gray"
					class="a8c37x1j ms05siws hwsy1cff b7h9ocf4 j58f7537 n90h9ftp rgmg9uty b73ngqbp"
				>
					<g fill-rule="evenodd" transform="translate(-444 -156)">
						<g>
							<path
								d="m96.968 22.425-.648.057a2.692 2.692 0 0 1-1.978-.625 2.69 2.69 0 0 1-.96-1.84L92.01 4.32a2.702 2.702 0 0 1 .79-2.156c.47-.472 1.111-.731 1.774-.79l2.58-.225a.498.498 0 0 1 .507.675 4.189 4.189 0 0 0-.251 1.11L96.017 18.85a4.206 4.206 0 0 0 .977 3.091s.459.364-.026.485m8.524-16.327a1.75 1.75 0 1 1-3.485.305 1.75 1.75 0 0 1 3.485-.305m5.85 3.011a.797.797 0 0 0-1.129-.093l-3.733 3.195a.545.545 0 0 0-.062.765l.837.993a.75.75 0 1 1-1.147.966l-2.502-2.981a.797.797 0 0 0-1.096-.12L99 14.5l-.5 4.25c-.06.674.326 2.19 1 2.25l11.916 1.166c.325.026 1-.039 1.25-.25.252-.21.89-.842.917-1.166l.833-8.084-3.073-3.557z"
								transform="translate(352 156.5)"
							></path>
							<path
								fill-rule="nonzero"
								d="m111.61 22.963-11.604-1.015a2.77 2.77 0 0 1-2.512-2.995L98.88 3.09A2.77 2.77 0 0 1 101.876.58l11.603 1.015a2.77 2.77 0 0 1 2.513 2.994l-1.388 15.862a2.77 2.77 0 0 1-2.994 2.513zm.13-1.494.082.004a1.27 1.27 0 0 0 1.287-1.154l1.388-15.862a1.27 1.27 0 0 0-1.148-1.37l-11.604-1.014a1.27 1.27 0 0 0-1.37 1.15l-1.387 15.86a1.27 1.27 0 0 0 1.149 1.37l11.603 1.016z"
								transform="translate(352 156.5)"
							></path>
						</g>
					</g>
				</svg>
			</div>

			<img
				(click)="trigger('file')"
				*ngIf="src !== undefined && data.uri === undefined"
				[src]="src"
				alt=""
				class="px16-9"
			/>

			<img
				(click)="trigger('file')"
				*ngIf="data.uri !== undefined"
				[src]="data.uri"
				alt=""
				class="px16-9"
			/>

			<input
				(change)="readFile($event)"
				accept="image/*"
				type="file"
				class="hidden"
				id="file"
			/>

			<fuse-alert class="mb-15" [type]="'accent'">
				<span fuseAlertTitle>Background Image Format</span>
				<div><span class="text-secondary">Aspect Ratio</span> 16:9</div>
				<div>
					<span class="text-secondary"> Image extensions:</span> .jpg,
					.png, .gif
				</div>
				<div><span class="text-secondary">Max Images:</span> 1</div>
			</fuse-alert>
		</div>
		<div class="lg:ml-5 md:ml-5">
			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Title</mat-label>
				<input
					[(ngModel)]="data.title"
					matInput
					placeholder="START YOUR FREE TRIAL TODAY"
				/>
			</mat-form-field>

			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Notice</mat-label>
				<input
					[(ngModel)]="data.notice"
					matInput
					placeholder="Payments start after 30 days free trial."
				/>
			</mat-form-field>

			<mat-form-field class="w-full mb-2">
				<mat-label class="text-secondary font-normal">Body</mat-label>
				<textarea
					[(ngModel)]="data.body"
					cdkTextareaAutosize
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					cdkAutosizeMaxRows="5"
					matInput
					placeholder="Subscriptions auto-renew at the end of each billing period at the standard price, unless cancelled."
				></textarea>
			</mat-form-field>
		</div>
	</div>

	<div class="flex w-full">
		<button
			(click)="addField()"
			class="fuse-mat-button-large ml-auto text-white bg-zinc-500"
			mat-flat-button
		>
			<mat-icon svgIcon="feather:plus" class="mr-3"></mat-icon>
			<span class="m-auto"> Add Pricing </span>
		</button>
	</div>

	<div class="grid grid-cols-1 lg:grid-cols-4 gap-4 mt-5 w-full">
		<div
			class="w-full"
			*ngFor="let price of data.prices; let i = index"
			[@listAnimation]="data.prices"
		>
			<div
				class="card border-2 border-slate-100 p-5 flex flex-col w-full"
				style="
					box-shadow: rgba(150, 150, 193, 0.15) 0px 30px 60px -12px,
						rgba(150, 150, 150, 0.2) 0px 18px 36px -18px;
					box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px,
						rgba(150, 150, 150, 0.2) 0px 30px 60px -30px;
				"
			>
				<div class="flex aic w-full">
					<div
						class="mb-5 text-2xl md:text-2xl font-extrabold sm: truncate"
					>
						<mat-icon
							svgIcon="heroicons_solid:currency-dollar"
							style="transform: translateY(3px)"
							class="text-yellow-500"
						></mat-icon>
						PRICING {{ i + 1 }}
					</div>
					<div (click)="removeField(i)" role="button" class="ml-auto">
						<mat-icon
							svgIcon="feather:minus-circle"
							class="icon-size-7 text-warn top-icon"
						></mat-icon>
					</div>
				</div>

				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Duration</mat-label
					>
					<input
						[(ngModel)]="price.duration"
						matInput
						placeholder="1 MONTH"
					/>
				</mat-form-field>

				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Price</mat-label
					>
					<input
						[(ngModel)]="price.price"
						matInput
						placeholder="650"
					/>
				</mat-form-field>

				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Bill Interval</mat-label
					>
					<input
						[(ngModel)]="price.billInterval"
						matInput
						placeholder="Billed Monthly"
					/>
				</mat-form-field>

				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Summary</mat-label
					>
					<input
						[(ngModel)]="price.summary"
						matInput
						placeholder="650.00 AED Monthly"
					/>
				</mat-form-field>

				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Trial Period</mat-label
					>
					<input
						[(ngModel)]="price.trialPeriod"
						matInput
						placeholder="630-Day Free Trial"
					/>
				</mat-form-field>

				<mat-form-field class="w-full mb-2">
					<mat-label class="text-secondary font-normal"
						>Background Color (Hex)</mat-label
					>
					<input
						[(ngModel)]="price.backgroundColor"
						matInput
						placeholder="#828385"
					/>
				</mat-form-field>
			</div>
		</div>
	</div>
</div>
