<div class="wrapper-container d-flex aic jcc fdc c-section" *ngIf="data">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 p-10 m-0 p-0">
		<div class="block md:hidden">
			<div class="wrapper">
				<div class="story relative md:fixed px-5 pb-24">
					<div class="tilte">{{ data.title }}</div>
					<div class="description">
						<span class="qoute">"</span> {{ data.body }}
					</div>
				</div>
			</div>
		</div>

		<div
			class="p-0 c-main mt-64"
			*ngIf="data.images"
			[@listAnimation]="data"
		>
			<img
				class="c-section"
				style="height: 100vh; object-fit: cover; width: 100%"
				*ngFor="let item of data.images"
				[src]="item.uri"
				alt=""
			/>
		</div>
		<div class="hidden md:block">
			<div class="wrapper">
				<div class="story relative md:fixed px-5 pb-8">
					<div class="tilte">{{ data.title }}</div>
					<div class="description">
						<span class="qoute">"</span> {{ data.body }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
