/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.tab {
	.active {
		background: #18191a !important;
		background-color: #18191a !important;
		color: white !important;
	}
}

.aic {
	align-self: center;
}

.jcc {
	justify-content: center;
}
.fdc {
	flex-direction: column;
}

.bg-black {
	background-color: black !important;
	background: black !important;
}

.text-white {
	color: white !important;
}

.file-input {
	height: 200px;
	background: #f3f3f3 0% 0% no-repeat padding-box;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 72px;
		height: 49px;
	}
}

body fuse-splash-screen .spinner > div {
	background-color: #d10000;
}
body fuse-splash-screen {
	background-color: black;
}
.custom .fuse-alert-container {
	background: #f3f3f3 !important;
	margin-top: -2px;
}
