.wrapper-container {
	min-height: 50vh;
}

.title {
	letter-spacing: 1.75px;
	color: #d10000;
}

.description {
	font-family: Montserrat;
	letter-spacing: 1.25px;
	max-width: 463px;
	font-weight: 500;
}
.section {
	scroll-snap-align: start;
}
