.wrapper-container {
	min-height: 50vh;
}

.title {
	font: normal normal normal 35px/39px bold;
	letter-spacing: 1.75px;
	text-align: center;
}

.description {
	text-align: center;
	letter-spacing: 1px;
	color: #1d1d1b;
	font-size: 1.4rem;
	font-family: Montserrat;
	line-height: 2.5rem;
	font-weight: 500;
	margin-top: 0.5rem;
	max-width: 833px;
}
.section {
	scroll-snap-align: start;
}
