<app-preloader *ngIf="!data"></app-preloader>
<div class="w-screen h-auto md:h-screen c-section">
	<ImagesCarousel
		class="scale"
		[class.scaleNow]="scaleNow"
		[data]="data"
		*ngIf="data && data.images.length !== 0"
	></ImagesCarousel>
	<div class="wrapper-container mt-32" *ngIf="data">
		<div class="text w-full flex aic fdc px-5 md:px-16 mt-16">
			<div
				class="text-3xl text-left md:text-center"
				style="margin-top: 100px"
			>
				{{ data.title }}
			</div>
			<p
				class="description text-zinc-900 description mt-5 text-lg text-left md:text-center"
			>
				{{ data.body }}
			</p>
		</div>
	</div>
</div>
