<div class="flex flex-col flex-auto min-w-0" *ngIf="data">
	<div
		class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
	>
		<div class="flex-1 min-w-0">
			<div class="mt-2">
				<h2
					class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mt-5"
				>
					<mat-icon
						svgIcon="heroicons_outline:mail-open"
						class="icon-size-10 text-warn top-icon mr-2"
					></mat-icon>
					{{ data.data.displayName }}
				</h2>
			</div>
		</div>
	</div>

	<div class="fuse-card-front p-5">
		<div class="p-10 w-full bg-card shadow sm:w-full sm:mx-0">
			<div class="header flex border-b border-zinc-200 py-5">
				<div class="icon" role="button">
					<mat-icon
						(click)="back()"
						svgIcon="heroicons_outline:chevron-left"
						class="icon-size-7 text-zinc-900 top-icon mr-3"
					></mat-icon>
				</div>
				<div class="text">
					<h1 class="font-bold">
						From: {{ data.data.displayName }} |
						{{ data.data.email }}
					</h1>
					<div>To: Admin</div>
				</div>
			</div>
			<div
				class="body w-full contaier flex fdc aic jcc text-center bg-zinc-200 md:px-128"
			>
				<div class="bg-white pt-16">
					<div class="flex aic jcc">
						<img
							class="square"
							alt=""
							style="height: 20vmin; width: 20vmin"
							[src]="data.data.uri.url"
						/>
					</div>
					<h1
						class="text-1xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate mt-5"
					>
						Subject: Competition Submission
					</h1>
					<p>
						Hi There! Attached below is my data for your review and
						consideration.
					</p>
					<br />
					<p>Best Regards,</p>
					<span class="font-bold">{{ data.data.displayName }}</span>

					<ul [@listAnimation]="5" class="align-center w/2 px-5">
						<li
							[hidden]="index == data.data.length - 1"
							class="w-full flex aic border-b border-zinc-200 py-5"
							*ngFor="
								let item of data.data | keyvalue;
								let i = index
							"
						>
							<span class="">{{ item.key | titlecase }}</span>
							<span class="ml-auto text-right">{{
								item.value
							}}</span>
						</li>
					</ul>

					<div>
						<button
							class="fuse-mat-button-large mt-6"
							mat-flat-button
							[color]="'accent'"
							[disabled]="isProcessing === true"
							(click)="remove()"
						>
							<span *ngIf="isProcessing === false">
								Remove Application</span
							>
							<span *ngIf="isProcessing === 'complete'">
								Redirecting...</span
							>
							<mat-progress-spinner
								*ngIf="isProcessing === true"
								[diameter]="24"
								[mode]="'indeterminate'"
							></mat-progress-spinner>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
