<div class="wrapper-container w-100 d-flex aic jcc fdc">
	<img class="bg" src="../../../../assets/app/location/bg.png" alt="" />
	<div class="row m-0 p-0 mt-5 pt-5 d-flex aic jcc w-100">
		<div class="col-md-6 p-0">
			<img class="logo" src="../../../../assets/app/location/logo.png" alt="" />
			<div class="address">
				19trh St. - Umm Ramool - <br />
				Dubai United arab Emirates
			</div>
			<div class="link">
				<a href="https://goo.gl/maps/uxMheyw739rmD3cQ8" target="_blank"
					>https://goo.gl/maps/uxMheyw739rmD3cQ8</a
				>
			</div>

			<div class="email">Thedungeon@gmail.com</div>
			<div class="phone">+971 50 000 000</div>
		</div>
		<div class="col-md-6 p-0">
			<img class="map" src="../../../../assets/app/location/map.png" alt="" />
		</div>
	</div>
</div>
