<div class="wrapper-container w-100 d-flex aic jcc fdc" *ngIf="data">
	<img class="bg px16-9" src="../../../../assets/app/location/bg.png" alt="" />
	<div class="row m-0 p-0 mt-5 pt-5 d-flex aic jcc w-100">
		<div class="col-md-6 p-0">
			<img
				class="logo animate__animated animate__fast animate__slideInDown"
				src="../../../../assets/app/location/logo.png"
				alt=""
			/>
			<div
				class="address animate__animated animate__fast animate__slideInDown"
			>
				{{ data.address }} <br />
				{{ data.state }}
			</div>
			<div class="link">
				<a [href]="data.googleMapUri" target="_blank">{{
					data.googleMapUri
				}}</a>
			</div>

			<div class="email">{{ data.email }}</div>
			<div class="phone">{{ data.contact }}</div>
		</div>
		<div class="col-md-6 p-0">
			<img
				class="map square animate__animated animate__fast animate__zoomIn"
				[src]="data.uri"
				alt=""
			/>
		</div>
	</div>
</div>
