.wrapper-container {
	height: 100vh;
	position: relative;
}

.bg {
	position: absolute;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	filter: grayscale(100%);
}

.map {
	max-height: 725px;
}

* {
	color: white;
	text-align: center;
}

.address {
	font-family: Montserrat;
	margin-top: 4rem;
	font-weight: 500;
	letter-spacing: 1.05px;
	font-size: 1.4rem;
}
.link {
	* {
		font-weight: 400;
		cursor: pointer;
		letter-spacing: 1.05px;
		font-size: 1.4rem;
		color: #0090ff;
	}
	.bi {
		transition: 0.3s ease;
	}
	&:hover {
		.bi {
			padding-left: 0.5rem;
		}
	}
}
.email {
	font-family: Montserrat;
	font-family: Montserrat;
	font-weight: 300;
	letter-spacing: 1.05px;
	font-size: 1.4rem;
}
.phone {
	font-family: Montserrat;
	font-family: Montserrat;
	font-weight: 300;
	letter-spacing: 1.05px;
	font-size: 1.4rem;
}
