<app-preloader *ngIf="!data"></app-preloader>
<div
	class="flex fdc h:auto bg-zinc-900 md:h-screen md:bg-transparent c-section jcc"
	*ngIf="data && data.isSectionEnabled"
>
	<div class="bg hidden md:block bg-zinc-900">
		<img *ngIf="data.uri" [src]="data.uri" alt="" class="px16-9" />
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
		<div
			class="flex w-full aic justify-end"
			*ngIf="data2 && data2.isSectionEnabled"
		>
			<registration-form
				class="justify-end w-full ml-auto animate__animated animate__fadeInLeft animate__faster"
				[data2]="data2"
			></registration-form>
		</div>
		<div
			[@listAnimation]="data"
			class="text-center flex aic jcc fdc p-5 py-24 md:p-0 bg3 bg2 hidden md:block animate__animated animate__fadeInRight"
			[class.col-md-12]="!data2"
		>
			<div class="competitionDate mb-2 text-xl md:text-2xl">
				{{ data.competitionDate }}
			</div>

			<div class="categoryType text-4xl md:text-7xl font-weight-bold">
				{{ data.categoryType }}
			</div>
			<div class="category text-4xl mb-2 md:text-7xl font-weight-bold">
				{{ data.category }}
			</div>
			<div class="hostedBy">
				{{ data.hostedBy }}
			</div>
			<div class="levels text-3xl mb-2 md:text-6xl font-weight-bold">
				{{ data.levels }}
			</div>
			<div class="deadline text-xl md:text-2xl">
				{{ data.deadline }}
			</div>

			<div class="Timer">
				{{
					time !== undefined && time.eventStarted === false
						? 'Registration Ends within'
						: 'Registration status:'
				}}
			</div>
			<div
				*ngIf="time !== undefined && !time.eventStarted"
				class="time text-white text-5xl md:text-8xl font-weight-bold"
			>
				<div>
					<span *ngIf="time.hours !== 0"> {{ time.hours }}:</span>
					<span>{{ time.minutes }}:{{ time.seconds }}</span>
				</div>
			</div>
			<div
				class="text-5xl md:text-8xl font-weight-bold text-red-400"
				*ngIf="time !== undefined && time.eventStarted"
			>
				Closed <br />
			</div>
		</div>
	</div>
</div>
