<div
	class="flex jcc fdc h:auto bg-zinc-900 md:h-screen md:bg-transparent c-section"
	*ngIf="data && data.isSectionEnabled"
>
	<div class="bg hidden md:block bg-zinc-900">
		<img *ngIf="data.uri" [src]="data.uri" alt="" class="px16-9" />
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
		<div
			class="flex w-full aic justify-end mt-5"
			*ngIf="data2 && data2.isSectionEnabled"
		>
			<registration-form
				appParallax
				[factor]="5.3"
				class="justify-end w-full ml-auto"
				[data2]="data2"
			></registration-form>
		</div>
		<div
			appParallax
			[factor]="-5.3"
			[@listAnimation]="data"
			class="text-center flex aic jcc fdc p-5 py-24 md:p-0 bg2 md:bg3"
			[class.col-md-12]="!data2"
		>
			<div class="competitionDate mb-2 text-xl md:text-2xl">
				{{ data.competitionDate }}
			</div>

			<div class="categoryType text-4xl md:text-7xl font-weight-bold">
				{{ data.categoryType }}
			</div>
			<div class="category text-4xl mb-2 md:text-7xl font-weight-bold">
				{{ data.category }}
			</div>
			<div class="hostedBy">
				{{ data.hostedBy }}
			</div>
			<div class="levels text-3xl mb-2 md:text-6xl font-weight-bold">
				{{ data.levels }}
			</div>
			<div class="deadline text-xl md:text-2xl">
				{{ data.deadline }}
			</div>
			<div class="Timer">Time until the big event</div>
			<div class="time text-5xl md:text-8xl font-weight-bold">
				<!-- {{ time }} -->
				43:01:23
			</div>
		</div>
	</div>
</div>
