<div class="h-screen bg-zinc-900 c-section flex fdc p-32">
	<img class="logo m-auto" src="../../../../assets/app/logo.svg" alt="" />
	<!-- <div
		aria-busy="true"
		aria-label="Loading"
		role="progressbar"
		class="mx-auto"
	>
		<div class="swing">
			<div class="swing-l"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div class="swing-r"></div>
		</div>
		<div class="shadow">
			<div class="shadow-l"></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div class="shadow-r"></div>
		</div>
	</div> -->
</div>
