@font-face {
	font-family: 'sf';
	src: url('./assets/fonts/sf.ttf');
}
@font-face {
	font-family: 'normal';
	src: url('./assets/fonts/normal.woff');
}

@font-face {
	font-family: 'bold';
	src: url('./assets/fonts/bold.woff');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300,400,500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

html,
body {
	--darkest: #1d1d1b;
	--accent: #d10000;
	--darker: #575756;
	--dark: #828385;
	--bg: #ffffff;
	overflow-x: hidden;
}
* {
	font-family: normal;
	font-weight: 200;
	letter-spacing: 2.1px;
}

.container::ngd {
	max-width: 1940px !important;
}

.danger {
	color: var(--accent) !important;
}

.btn-app-primary {
	color: white !important;
	border-radius: 0;
	background-color: var(--accent) !important;
	padding: 0.5rem 1.8rem;
	transition: 0.2s ease;
	&:hover {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	}
	&:active {
		box-shadow: none;
		opacity: 0.5;
	}
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

.fdc {
	flex-direction: column;
}
