<div class="section" *ngIf="data">
	<div class="wrapper-container d-flex aic jcc fdc">
		<img src="../../../../assets/app/home/bg3.png" class="px16-9" alt=" " />
		<div class="row w-100">
			<div class="col-md-7"></div>
			<div class="col-md-5 pl-5">
				<div class="title pl-3">FIND YOUR FIT</div>
				<div class="description pl-3">
					Unlock your potential! Start your <br />
					journey with the membership tier <br />
					that fits your needs.
				</div>
				<button class="btn btn-app-primary ml-3">
					weight lifting competition <i class="bi bi-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>
