.wrapper-container {
	position: relative;
}

img {
	position: absolute;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	height: 100%;
}

.title {
	text-align: left;
	letter-spacing: 1.75px;
	color: #ffffff;
}
.description {
	margin-top: 1.3rem;
	letter-spacing: 1.25px;
	color: #ffffff;
	font-family: Montserrat;
	font-weight: 500;
	margin-bottom: 4.8rem;
}
.btn {
	padding: 1.3rem 1.2rem;
}
.section {
	scroll-snap-align: start;
}
