<div class="section d-flex fdc w-100" *ngIf="data && data.isSectionEnabled">
	<div class="bg">
		<img *ngIf="data.uri" [src]="data.uri" alt="" class="px16-9" />
	</div>
	<div class="title">{{ data.title }}</div>
	<div class="body">{{ data.body }}</div>

	<div class="row jcc w-100" *ngIf="data.participants.males.length !== 0">
		<div class="body1">Male Contenders!</div>
		<carousel
			[height]="540 + 180"
			[cellsToShow]="innerWidth > 1139 ? 5 : 1"
			[dots]="data.participants.males.length > 5"
			[margin]="37"
			[loop]="data.participants.males.length > 5"
			[autoplayInterval]="2000"
			[autoplay]="data.participants.males.length > 5"
		>
			<div
				*ngFor="let participant of data.participants.males"
				class="carousel-cell ap4-3"
			>
				<WeightLifter [participant]="participant"></WeightLifter>
			</div>
		</carousel>
	</div>

	<div class="row jcc w-100" *ngIf="data.participants.females.length !== 0">
		<div class="body1">Female Contenders!</div>
		<carousel
			[height]="540 + 180"
			[cellsToShow]="innerWidth > 1139 ? 5 : 1"
			[dots]="data.participants.females.length > 5"
			[margin]="37"
			[loop]="data.participants.females.length > 5"
			[autoplay]="data.participants.females.length > 5"
			[autoplayInterval]="2000"
		>
			<div
				*ngFor="let participant of data.participants.females"
				class="carousel-cell ap4-3"
			>
				<WeightLifter [participant]="participant"></WeightLifter>
			</div>
		</carousel>
	</div>

	<div class="row jcc w-100" *ngIf="data.participants.wildCards.length !== 0">
		<div class="body1">Wildcard Contenders!</div>
		<carousel
			[height]="540 + 180"
			[cellsToShow]="innerWidth > 1139 ? 5 : 1"
			[dots]="data.participants.wildCards.length > 5"
			[margin]="37"
			[loop]="data.participants.wildCards.length > 5"
			[autoplay]="data.participants.wildCards.length > 5"
			[autoplayInterval]="2000"
		>
			<div
				*ngFor="let participant of data.participants.wildCards"
				class="carousel-cell ap4-3"
			>
				<WeightLifter [participant]="participant"></WeightLifter>
			</div>
		</carousel>
	</div>
</div>
