<div
	class="wrapper-container flex aic jcc fdc w-full text-center py-24 bg-zinc-900 md:h-screen"
	*ngIf="data"
>
	<div class="px-5 title w-full text-center text-2xl md:text-7xl">
		{{ data.title }}
	</div>
	<div class="px:1 md:px-5 alert w-full text-center mt-3.5 text-xl">
		{{ data.notice }}
	</div>
	<div class="px:1 md:px-5 description mt-3.5 text-center text-xl md:px-64">
		<span
			style="
				width: 655px;
				font-weight: 300;
				text-align: center;
				font-family: Montserrat;
			"
			>{{ data.body }}</span
		>
	</div>
	<div class="p-0 m-0 w-full flex flex-wrap jcc md:px-28">
		<PackageCard
			*ngFor="let price of data.prices; let i = index"
			[title]="price.duration"
			[price]="price.price"
			[billed]="price.billInterval"
			[priceAndInterval]="price.summary"
			[freeTrial]="price.trialPeriod"
			[background]="price.backgroundColor"
		>
		</PackageCard>
	</div>
</div>
