<app-preloader *ngIf="!data || !coaches"></app-preloader>
<div
	class="flex aic w-full flex fdc h:auto h:auto section c-section pt-24 relative"
	*ngIf="data && coaches"
>
	<div
		class="grid grid-cols-1 container lg:grid-cols-2 p-5 gap-2 md:p-5 w-100 h-100"
	>
		<div class="w-full p-0" appParallax [factor]="1.3">
			<ul class="w-full" [@listAnimation]="data">
				<li
					class="text-xl p-5 border-b border-zinc-00 flex bg-zinc-200"
				>
					<span>Classes</span>
					<span class="ml-auto"> PRICE</span>
				</li>
				<li
					*ngFor="let item of data"
					class="text-xl p-5 border-b border-zinc-200 flex"
				>
					<span>{{ item.classes | titlecase }}</span>
					<span
						class="text-zinc-800 text-2xl text text ml-auto"
						style="font-weight: 800"
						>{{ item.price }}</span
					>
				</li>
			</ul>
		</div>
		<div class="w-full h-auto" appParallax [factor]="1.3">
			<li class="text-xl p-5 border-b border-zinc-200 flex bg-zinc-200">
				<span class="">The COACHES</span>
			</li>
			<div
				class="grid grid-cols-2 lg:grid-cols-3 gap-3 w-100 h-auto"
				[@listAnimation]="data"
			>
				<div
					class="mt-5 border border-zing-200"
					*ngFor="let coach of coaches"
				>
					<img
						[src]="coach.uri"
						class="ap5-6 w-full"
						style="height: 400px"
						alt=""
					/>
					<div class="px-5 py-2">
						<div class="coaches-text text-xl">
							{{ coach.name }}
						</div>
						<div class="coaches-text1 text-zinc-400">
							Experience: {{ coach.experience }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<homeSection4></homeSection4> <WeightLiftingSection3></WeightLiftingSection3>
