<div class="wrapper-container" *ngIf="data.length">
	<div class="row w-100 h-100">
		<div class="col-md-12 p-0">
			<div class="coaching">COACHING</div>
		</div>
		<div class="col-md-6 p-0">
			<table class="table">
				<thead>
					<tr>
						<th>Classes</th>
						<th>PRICE</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of data">
						<td>{{ item.classes | titlecase }}</td>
						<td>{{ item.price }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 p-0">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="pl-5">SELECT YOUR COACH</th>
					</tr>
				</thead>
			</table>
			<div class="row pl-5">
				<div
					class="col-md-4 p-0 d-flex fdc aic"
					*ngFor="let coach of coaches"
				>
					<div class="coach-card">
						<img [src]="coach.uri" class="coaches ap5-6" alt="" />
						<div class="coaches-text">{{ coach.name }}</div>
						<div class="coaches-text1 text-muted">
							{{ coach.experience }} Yrs of Expericne
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<homeSection4></homeSection4> <WeightLiftingSection3></WeightLiftingSection3>
